.learn__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 74svh;
    animation: fadein 0.25s;

}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.learn__wrapper img {
}

.learn__description {
    padding-top: 50px;
    width: 500px;
    display: flex;
    flex-direction: column;
}

.learn__description h3 {
    font-size: 2rem;
}

.learn__description p {
    font-size: 1.3rem;
    font-family: 'SF Pro Text', sans-serif;
    font-weight: 400;
}

.learn__description button {
    width: 100%;
    margin-top: 50px;
    background-color: var(--cartsy-green);
    color: white;
    font-size: 1.9rem;
    padding: 8px 0px 12px 0px;
    border: none;
    border-radius: 50px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.123);
    transition-duration: 250ms;
    cursor: pointer;
    min-width: 360px;
    justify-self: center;
}

.learn__description button:hover {
    transform: scale(1.1);
    background-color: var(--cartsy-green-excited);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.123);
}

.hidden {
    opacity: 0;
}

.visible {
    opacity: 1;
}

.flex__reverse {
    flex-direction: row-reverse;
}


@media only screen and (max-width:500px) {

    .learn__wrapper {
        flex-direction: column;
        align-items: center;
        width: min-content;
    }

    .learn__description {
        top: 530px;
        width: 80svw;
        padding-top: 0;
    }

    .learn__wrapper img {
        width:65%;
    }

    .learn__description h3 {
        text-align: center;
        font-size: 1.5rem;
    }

    .learn__description button {
        margin-bottom: 100px;
    }

}