

.carousel {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: first baseline;
    width: 300%;
    transform: translate(-1%);
    animation: carousel__slide 60s linear infinite;
}
 
@keyframes carousel__slide {
    0%      {transform: translate(-1%)}
    100%    {transform: translate(-54.35%)}
}

.card {
    margin-left: 40px;
    width: 20svw;
    height: 22svh;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.13);
    border-radius: 30px;
    overflow: hidden;
}

.card__title {
    font-size: 1.5rem;
    padding: 10px;
    font-weight: 500
}

.card__image {
    width: 100%;
    min-height: 100%;
}



.home__slogan {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.home__slogan h1 {
    text-align: center;
    margin: 0;
    margin-top: -5px;
    font-weight: 500;
    font-size:4rem;
}

.text__bold {
    font-weight: 700;
}

.home__description {
    font-weight: 400;
    font-size: 2.3rem;
    margin-top: 10px;
}

.home__slogan button {
    margin-top: 10px;
    background-color: var(--cartsy-green);
    color: white;
    font-size: 2.3rem;
    padding: 8px 0px 12px 0px;
    border: none;
    border-radius: 50px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.123);
    transition-duration: 250ms;
    cursor: pointer;
    min-width: 360px;
}

.home__slogan button:hover {
    transform: scale(1.1);
    background-color: var(--cartsy-green-excited);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.123);
}

.message1 {
    position: absolute;
    bottom: 19svh;
    left: 5svw;
    width: 0;
    max-width: 350px;
    opacity: 0;
    transition-duration: 600ms;
}

.message2 {
    position:absolute;
    bottom: 10svh;
    right: 5svw;
    width: 0;
    max-width: 350px;
    opacity: 0;
    transition-duration: 600ms;
}

.visible1, .visible2 {
    transition-duration: 0;
    opacity: 1;
    width: 18svw;
}

  